/* REGOLE DI RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

img {
    max-width: 100%;
}

:root {
    --black: #000000;
    --dark-blue: #141922;
    --white: #ffffff;
    --light-grey: #d2d2d2;
    --light-white: #fbfbfb;
    --dark-grey: #717171;
    --grey: #a3a3a3;
    --green: #adff2f;
}