/* REGOLE DI RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

img {
    max-width: 100%;
}

:root {
    --black: #000000;
    --dark-blue: #141922;
    --white: #ffffff;
    --light-grey: #d2d2d2;
    --light-white: #fbfbfb;
    --grey: #717171;
    --light-light-grey: #a3a3a3;
    --dark-grey: #282828;
    --green: #adff2f;
    --sidebar-width: 230px;
}

.page-content {
    min-height: 100vh;
}

/* LAYOUT */

.page-content,
.sidebar,
.main-content,
.container-player {
    overflow: hidden;
}

.container {
    min-height: 100vh;
    flex-direction: column;
}

.sidebar {
    width: 50px;
    flex-shrink: -1;
    background-color: var(--black);
}

.main-content {
    flex-grow: 1;
    background-color: var(--dark-blue);
}

/* UTILITIES */

.flex {
    display: flex;
}

.grow-1 {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.grey {
    background-color: var(--light-light-grey);
}

/* PLAYER */

.container-player {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.brano-img {
    width: 28px;
    aspect-ratio: 1;
}

.player-right-section {
    align-items: center;
    justify-content: space-between;
    flex-basis: var(--sidebar-width);
}

.brano-img {
    margin: 0px 12px;
}

.player-right-section-icon {
    margin-left: 40px;
}

.icon {
    padding-right: 12px;
    color: var(--grey);
}

.player-right-section-text-title {
    font-size: 13px;
    color: var(--white);
}

.player-right-section-text-name {
    font-size: 12px;
    color: var(--grey);
}


.player-left-section-icons {
    align-items: center;
    padding-right: 10px;
}

.timebar {
    display: inline-block;
    align-self: center;
}

.timebar-light-white {
    width: 25px;
    font-size: 1px;
    color: var(--light-white);
    background-color: var(--light-white);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    line-height: 5px;
}


.timebar-grey {
    width: 120px;
    font-size: 1px;
    color: var(--grey);
    background-color: var(--grey);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 5px;
}

.player-center-section {
    flex-basis: 50%;
}

.player-center-icons {
    color: var(--white);
    font-size: 22px;
    gap: 10px;
}

.play {
    margin: 0px 12px;
}

.timeline {
    gap: 12px;
}

.time {
    color: var(--white);
    font-size: 12px;
    padding: 10px;
}

.timeline-bar {
    flex-basis: 100%;
    padding: 10px;
    position: relative;
}

.timeline-bar-grey {
    height: 4px;
    flex-basis: 100%;
    background-color: var(--grey);
    border-radius: 999px;
}

.timeline-bar-white {
    height: 4px;
    width: 25%;
    background-color: var(--light-grey);
    border-radius: 999px;
}

.huddle {
    width: 12px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 999px;
    position: absolute;
    top: 25%;
    left: 25%;
}

.timeline-bar:hover .timeline-bar-white {
    background-color: var(--green);
}

.timebar:hover .timebar-light-white {
    background-color: var(--green);
}

/* SIDEBAR */

.logo-small {
    display: block;
    padding: 10px;
}

.logo-and-text {
    display: none;
}

.item-img {
    display: block;
    width: 40px;
    aspect-ratio: 1;
    color: var(--light-light-grey);
}

.items {
    gap: 10px;
    padding-left: 10px;
}

.menu {
    gap: 10px;
}

.text-item {
    font-size: 15px;
    text-align: center;
    display: none;
}

.home {
    color: var(--white);
}

.cerca,
.libreria {
    color: var(--light-light-grey);
}

.navbar-menu {
    margin-top: 20px;
    margin-right: 10px;
}

/* PLAYLISTS */

.playlists {
    margin-top: 35px;
    margin-left: 10px;
    display: none;
}

.playlists-title {
    text-transform: uppercase;
    color: var(--white);
}

.playlist-add {
    margin-top: 20px;
    gap: 20px;
}

.add {
    color: var(--light-light-grey);
}

.add-button {
    padding-right: 10px;
}

.add-button-text {
    font-size: 13px;
}

/* DOWNLOAD */

.download-img {
    width: 12px;
    aspect-ratio: 1;
    color: var(--light-light-grey);
}

.download-img-text {
    font-size: 11px;
    color: var(--light-light-grey);
}

.items-download {
    margin-left: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.download-underline {
    width: calc(100% - 20px);
    height: 1px;
    background-color: var(--light-light-grey);
    border-radius: 999px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile {
    margin-left: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.profile-img {
    width: 28px;
    aspect-ratio: 1;
    background-color: var(--light-light-grey);
    border-radius: 999px;
}

.profile-name {
    font-size: 14px;
    color: var(--light-white);
}



/* RESPONSIVE */


@media (min-width: 576px) { 


 }


@media (min-width: 768px) { 

    .sidebar {
        width: var(--sidebar-width);
    }

    .brano-img {
        width: 42px;
    }

    .logo-small {
        display: none;
    }
    
    .logo-and-text {
        display: block;
        padding: 10px;
        max-width: 130px;
    }

    .items {
        width: 100%;
    }

    .text-item {
        display: block;
    }

    .playlists {
        display: block;
    }

   
 }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }

/* DEBUG */

.debug .container {
    border: 1px solid orange;
    padding: 10px;
}



.debug .container-sidebar-main,
.debug .player-center-icons,
.debug .timeline {
    border: 2px solid blue;
    padding: 10px;
}

.debug .sidebar > *,
.debug .menu,
.debug .item-img,
.debug .text-item {
    border: 2px solid blue;
    
}

.debug .items,
.debug .playlist-item {
    border: 2px solid greenyellow;
    padding: 10px;
}


.debug .container-player{
    border: 2px solid red;
    padding: 10px;
}

.debug .sidebar {
    border: 2px solid orange;
    padding: 10px;
}

.debug .main-content {
    border: 2px solid black;
    padding: 10px;
}

.debug .player-center-section {
    border: 2px solid yellow;
    padding: 10px;
}

.debug .time,
.debug .timeline-bar {
    border: 2px solid green;
    padding: 10px;
}

